body {
    margin: 0;
    background: darkturquoise;
    box-sizing: border-box;
    
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* justify-content: center; */
}
h1#dogH1,
h1#rainbowH1 {
    text-align: center;
}
#monkeyfy,
#horsefy {
    padding: 20px;
    display: block;
    margin: 15px auto;
}

.card {
    width: 29%;
    height: 300px;
    border: 8px solid;
    margin-right: 10px;
    background-size: cover;
    padding: 10px;
}

.content {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.fancy-border {
    border: 8px solid lightpink;
    border-radius: 20px;
}
.fancy-border2 {
    border: 8px solid gold;
    border-radius: 15%;
}
.box-border {
    border:10px solid lightpink;
}
.box-border2 {
    border: 10px solid gold;
}
section.monkey {
    width: 100px;
}


.monkey-fied {
    background-image: url("img/dog-monkey.jpeg") !important;
}
.horse-fied {
    background-image: url("img/rambo.jpg") !important;
}